@page "/events"
@using EGON.Blazor.Models
@using EGON.Blazor.Services
@inject StorageService StorageService

<h3>Echelon Events</h3>

@if (EchelonEvents is null)
{
    <p><em>Loading events...</em></p>
}
else if (!EchelonEvents.Any())
{
    <p>No events to display.</p>
}
else
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Organizer</th>
                <th>Event Date/Time</th>
                <th>Type</th>
                <th>Message URL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ev in EchelonEvents)
            {
                <tr>
                    <td>@ev.Id</td>
                    <td>@ev.Name</td>
                    <td>@ev.Description</td>
                    <td>@ev.Organizer</td>
                    <td>@ev.EventDateTime.ToString("dddd, M/d/yyyy 'at' h:mm tt")</td>
                    <td>@ev.EventType</td>
                    <td>
                        @if (!string.IsNullOrWhiteSpace(ev.MessageUrl))
                        {
                            <a href="@ev.MessageUrl" target="_blank">View</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<EchelonEvent>? EchelonEvents { get; set; }


    protected override async Task OnInitializedAsync()
    {
        EchelonEvents = StorageService?.GetUpcomingEvent()?.ToList() ?? new();

        await base.OnInitializedAsync();
    }
}
